<p-dialog [style]="{height: '400px'}" header="Favorites" [draggable]="false" [resizable]="false" [modal]="true" [closable]="true" appendTo="body"
  [(visible)]="show" (onHide)="handleHide()">
  <p-table #datatable [value]="favorites" responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-gridlines"
    [globalFilterFields]="['firstName', 'lastName', 'gender', 'status']">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            First Name
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Last Name
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Gender
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Status
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-favorite>
      <tr class="row" [style]="{height: '40px', cursor: 'pointer'}" (click)="showDetails(favorite)">
        <td>{{favorite.firstName | summarizeText:[10]}}</td>
        <td>{{favorite.lastName | summarizeText:[7]}}</td>
        <td>{{favorite.gender}}</td>
        <td>{{favorite.status}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <button id="emptymessage" routerLink="owners" pButton pRipple type="button"
        label="No favorites yet" class="p-button-text" [disabled]="true"></button>
    </ng-template>
  </p-table>
</p-dialog>

<app-modal-details [show]="displayDetails" (showDetailsChanged)="showDetailsChangeHandler($event)"
  [owner]="selectedOwner"></app-modal-details>