<p-table #datatable [style]="{width: '380px', marginTop: '450px'}" [columns]="['First Name', 'Last Name', 'Gender', 'Status']"
    [value]="owners" [loading]="loading" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="500px"
    [virtualScroll]="true" [virtualScrollItemSize]="10" [lazy]="true" (onLazyLoad)="lazyLoadOwners()"
    [virtualScrollOptions]="{numToleratedItems: 10}" [globalFilterFields]="['firstName','lastName']">
    <ng-template pTemplate="caption">
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="datatable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th [style]="{textAlign: 'center'}" *ngFor="let column of columns">
                {{column}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:40px" (click)="showDetails(rowData)">
            <td>{{rowData.firstName | summarizeText:[10]}}</td>
            <td>{{rowData.lastName | summarizeText:[7]}}</td>
            <td>{{rowData.gender}}</td>
            <td>{{rowData.status}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:40px">
            <td *ngFor="let col of columns; let even = even">
                <p-skeleton [ngStyle]="{'width': '60%'}"></p-skeleton>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-modal-details [show]="displayDetails" (showDetailsChanged)="showDetailsChangeHandler($event)" [owner]="selectedOwner"></app-modal-details>