<p-card [style]="{width: '420px', marginLeft: '11px', marginTop: '350px'}">
    <p-table #datatable [value]="owners" [loading]="loading" responsiveLayout="scroll"
        styleClass="p-datatable-sm p-datatable-gridlines" [value]="owners" [scrollable]="true" scrollHeight="500px"
        [virtualScroll]="true" [virtualScrollItemSize]="10" [lazy]="true" (onLazyLoad)="showMore()"
        [virtualScrollOptions]="{numToleratedItems: 10}"
        [globalFilterFields]="['firstName', 'lastName', 'gender', 'status']">
        <ng-template pTemplate="header">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-owner>
            <tr class="row" style="height:40px; cursor:pointer" (click)="showDetails(owner)">
                <td>{{owner.firstName | summarizeText:[6]}}</td>
                <td>{{owner.lastName | summarizeText:[6]}}</td>
                <td>{{owner.gender}}</td>
                <td>{{owner.status}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<app-modal-details [show]="displayDetails" (showDetailsChanged)="showDetailsChangeHandler($event)"
    [owner]="selectedOwner"></app-modal-details>