<div class="header" [style]="{ position: 'fixed', zIndex: '99', top: '1%', left: '50%', transform: 'translateX(-50%)'}">
  <div class="header-item" [style]="{marginLeft: '10px'}">
    <p-image src="assets/gato.png" width="45" pBadge [value]="matagatos | numberToString"></p-image>
  </div>
  <div class="header-item">
    <div class="container">
      <div class="box">
        <div class="title">
          <span class="block"></span>
          <h1 id="page-name" [style]="{marginTop: '16px'}">{{title}}<span></span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="header-item" [style]="{marginLeft: '-25px', marginTop: '6px'}">
    <i (click)="displayFavorites=true" [style]="{cursor: 'pointer', fontSize: '2rem'}"
      class="pi pi-heart mr-4 p-text-secondary" pBadge [value]="favoritos | numberToString"></i>
  </div>
</div>

<app-favorites-modal [show]="displayFavorites" (showFavoritesChanged)="showFavoritesChangeHandler($event)">
</app-favorites-modal>